{% extends 'users/layout.html' %} {% block content %} 
<div class="row">
    <div class="col-sm-3">
   
  </div>
  <div class="col-sm-6">
    <div class="container mt-5">
        
         

        
          <div class="card">
            <div class="card-body">
                <form class="row g-3">
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Computer language</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                  </div>
                  <div class="col-12 mt-3">
                    <label for="inputAddress2" class="form-label">Snip Title</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                  </div>
        
                  <div class="col-6 mt-3">
                    <button type="submit" class="btn btn-primary">save</button>
                   
                  </div>
                  <div class="col-6 mt-3">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </div>
                </form>
              
            </div>
          </div>
   
    </div> 


  </div>
</div>
<div class="col-sm-3">

</div>
</div>
  

{% endblock %}