{% extends 'users/layout.html' %} {% block content %} 
<div class="row">
    <div class="col-sm-3">
   
  </div>
  <div class="col-sm-6">
    <div class="container mt-5">
        
         

        {% if viw_snip %}
          <div class="card mb-3">
            <div class="card-body">
                <form class="row g-3">
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Computer language</label>
                    <input type="text" value="{{viw_snip.language_name}}" class="form-control" id="inputAddress" placeholder="your lan">
                  </div>
                  <div class="col-12 mt-3">
                    <label for="inputAddress2" class="form-label">Snip Title</label>
                    <input type="text" value="{{viw_snip.snip_title}}" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                  </div>
                  <div class="card-body">
                    <textarea
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="16"
                    >
                        {{viw_snip.language_code}}
                    </textarea
                    >
                  </div>

                  <div class="col-12">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{viw_snip.short_description}}</textarea>
                  </div>
        
                  <div class="col-6 mt-3">
                    <button type="submit" class="btn btn-primary">Update Snip</button>
                   
                  </div>
                  <div class="col-6 mt-3">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </div>
                </form>
              
            </div>
          </div>
   
    </div> 
    {% else %}
   fail to get snips
    {% endif %}

  </div>
</div>
<div class="col-sm-3">

</div>
</div>
  

{% endblock %}