{% extends 'users/layout.html' %} {% block content %} 
{% load static %}
<div class="row">
    <div class="col-sm-3">
   
  </div>
  <div class="col-sm-6">
    <div class="container mt-5">
        
         


          <div class="card mb-3">
            <div class="card-body">
       
                <form action="/edit/{{viw_snip.id}}/"  method="post"
               >{% csrf_token %}
               {{ form.as_p }}
                <div class="col-12">
                    <label for=""  class="form-label">Computer language</label>
                    <input type="text" for="" name="language_name"  value="{{viw_snip.language_name}}"  placeholder="{{viw_snip.language_name}}" required>
                  </div>
                  <div class="col-12 mt-3">
                    <label for="inputAddress2"  for="" class="form-label">Snip Title</label>
                    <input type="text" for="" name="snip_title"  value="{{viw_snip.snip_title}}" placeholder="{{viw_snip.snip_title}}" required>
                  </div>
                  <div class="card-body">
                    <label for="inputAddress2"  for="" class="form-label">Code Snip</label>
                    <textarea
                    type="text"
                    for=""
                    name="language_code"
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="8"
                   
                      required
                    >
                        {{viw_snip.language_code}}
                    </textarea
                    >
                  </div>

                  <div class="col-12">
                    <label for="" class="form-label">Example textarea</label>
                  <textarea  type="text" for="" name="short_description" class="form-control" id="exampleFormControlTextarea1" rows="3" required>{{viw_snip.short_description}}</textarea>
                  </div>
        
                  <div class="col-6 mt-3">
                    <button for="" type="submit" value="submit" name="Submit" class="btn btn-primary">Update Snip</button>
                   
                  </div>
                  <div class="col-6 mt-3">
                    <button type="submit" for=""value="submit" name="Submit" class="btn btn-danger">Delete</button>
                  </div>
                </form>
              
            </div>
          </div>
   
    </div> 
  </div>
</div>
<div class="col-sm-3">

</div>
</div>
  

{% endblock %}