<div class="row">
  <div class="col-sm-12">
    <div class="container mt-5">
        {% extends 'users/layout.html' %} {% block content %} {% if header %}
        <h1 class="chango">welcome to index. Whats next: {{header}} and later</h1>
        {% else %}
        <h1 >
          <span class="badge bg-secondary mt-3">
            {% block title %} javascript snips {% endblock %}
          </span>
        </h1>
        {% endif %}
    </div>


    <div class="container">
      <div class="bg-light p-3 rounded-lg m-12">
        <ul>
          {% for things in things_to_do %}

          <li class="centrar">
            <div class="card">
              <div class="card-header text-center">{{things}}</div>
              <div class="card-body">
                <h5 class="card-title">fizz buzz</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>

              <div class="card-body">
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="16"
                >
 
                                        var fizzBuzz = function(arr) {
                                          for (var i = 0; i < arr.length; i++) {
                                            var currentNumber = arr[i];
                                        
                                            if (currentNumber % 15 === 0) {
                                              console.log("Fizz Buzz");
                                            } else if (currentNumber % 3 === 0) {
                                              console.log("Fizz");
                                            } else if (currentNumber % 5 === 0) {
                                              console.log("Buzz");
                                            } else {
                                              console.log(currentNumber);
                                            }
                                          }
                                        };</textarea
                >
              </div>
              <div class="card-footer">8/5/22</div>
            </div>

            <hr class="my-4" />
          </li>
          {% endfor %}
        </ul>
        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
      </div>
    </div>

    {% endblock %}
  </div>
</div>
