{% extends 'users/layout.html' %} {% block content %} 
<div class="row">
  <div class="col-sm-12">
    <div class="container mt-5">
 
       {% if language %}
      <h1 class="chango">javascript snips</h1>
      {% else %}
      <h1>
        <span class="badge bg-secondary mt-3">
          {% block title %} fail to get snips{% endblock %}
        </span>
      </h1>
      {% endif %}
    </div> 

    <div class="container">
      <div class="bg-light p-3 rounded-lg m-12"><ul class="list-unstyled">
          {% for ssnips in language %}

          <li class="centrar">
            <div class="card">
              <div class="card-header text-center">{{ssnips.language_name}}</div>
              <div class="card-body">
                <h5 class="card-title">{{ssnips.snip_title}}</h5>
                <p class="card-text">
            {{ ssnips.short_description}}
                </p>
              </div>

              <div class="card-body">
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="16"
                >
                    {{ssnips.language_code}}
                </textarea
                >
              </div>
              <div class="card-footer"><a href="edit/{{ssnips.id}}">Edit</a></div>
            </div>

            <hr class="my-4" />
          </li>
          {% endfor %}
        </ul>
        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
      </div>
    </div>

    {% endblock %}
  </div>
</div>
